{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="span12">
        <h1>{% trans 'Accounts' %}</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans 'Code' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Balance' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for account in object_list %}
                <tr>
                    <td><a href="{{ account.get_absolute_url }}">{{ account.code }}</td>
                    <td><a href="{{ account.get_absolute_url }}">{{ account.name }}</td>
                    <td><a href="{{ account.get_absolute_url }}">{{ account.balance }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page=last">last</a>
                {% endif %}
            </span>
        </div>
        <a href="{% url account_create %}">Create account</a>
</div>
</div>
{% endblock %}