{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="row">
	<div class="span6">
		<h1>{% trans 'Account' %}</h1>
		<form method="POST" class="form-horizontal">
			{% csrf_token %}
			{{ form|crispy }}
			<div class="form-actions">
			    {% if object %}
			    	<input class="btn btn-primary" type="submit" value="{% trans 'Update account' %}"/>
					<a class="btn" href="{% url account_delete pk=object.pk %}">Delete</a>
			    {% else %}
			    	<input class="btn btn-primary" type="submit" value="{% trans 'Create account' %}"/>
			    	<input class="btn btn" type="submit" name="create_next" value="{% trans 'Create and add another' }"/>
			    {% endif %}
			</div>
		</form>
	</div>
	<div class="span6">
		{% if object %}
		<div>
			Credit : {{ object.credit }}
		</div>
		<div>
			Debit : {{ object.debit }}
		</div>
		<div>
			Balance : {{ object.balance }}
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}
