{% extends "base.html" %}
{% block content %}

<h2>Create chart of accounts</h2>

Company : <a href="{{ company.get_absolute_url }}">{{ company }}</a>

<form method="POST">
	{% csrf_token %}
    <table>
    	{{ form }}
    </table>
    <input type="submit" value="Create chart"/>
</form>

{% endblock %}
