{% extends "base.html" %}
{% block content %}

    <h2>Companies</h2>
    <ul>
        {% for company in object_list %}
            <li><a href="{{ company.get_absolute_url }}">{{ company.name }}</a></li>
        {% endfor %}
    </ul>

<a href="{% url company_create %}">Create Company</a>

{% endblock %}