{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="row">
	<div class="span12">
		<h1>{% trans 'Company' %}</h1>
	</div>
	<div class="span6">
		<form  method="POST" class="form-horizontal">
			{% crispy form %}
			<div class="form-actions">
			    {% if object %}
			    	<input class="btn btn-primary" type="submit" value="{% trans 'Update company' %}"/>
					<a class="btn" href="{% url company_delete pk=object.pk %}">{% trans 'Delete' %}</a>
					<a class="btn" href="{% url company_create_chart pk=object.pk %}">{% trans 'Create chart of accounts' %}</a>
			    {% else %}
			    	<input class="btn btn-primary" type="submit" value="{% trans 'Create company' %}"/>
			    	<input class="btn btn" type="submit" name="create_next" value="{% trans 'Create and add another' %}"/>
			    {% endif %}
			</div>
		</form>

	</div>
	<div class="span6">
	{% if object %}
		<h2>{% trans 'Fiscal years' %}</h2>
		<table class="table">
			<thead>
				<tr>
					<th>{% trans 'Year' %}</th>
					<th>{% trans 'State' %}</th>
					<th>{% trans 'Default' %}</th>
				</tr>
			</thead>
			<tbody>
				{% for fiscalyear in company.fiscal_years.all %}
				<tr>
					<td><a href="{{ fiscalyear.get_absolute_url }}">{{ fiscalyear.year }}</a></td>
					<td><a href="{{ fiscalyear.get_absolute_url }}">{{ fiscalyear.get_state_display }}</a></td>
					<td><a href="{{ fiscalyear.get_absolute_url }}">{{ fiscalyear.default }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="btn" href="{% url fiscalyear_create pk=company.pk %}">{% trans 'Add fiscal year' %}</a>
	</div>
	{% endif %}
</div>
{% endblock %}
