{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% block content %}
<div class="row">
	<div class="span6">
		<h1>{% trans 'Fiscal year' %}</h1>

		{% trans 'Company' %} <a href="{{ company.get_absolute_url }}">{{ company }}</a>
		<form  class="form-horizontal">
			<fieldset>
				<legend>{% trans 'Fiscal year data' %}</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-actions">
			    {% if object %}
			    	<input class="btn btn-primary" type="submit" value="{% trans 'Update fiscal year' %}"/>
					<a class="btn" href="{% url company_delete pk=object.pk %}">{% trans 'Delete fiscal year' %}</a>
			    {% else %}
			    	<input class="btn btn-primary" type="submit" value="{% trans 'Create fiscal year' %}"/>
			    	<input class="btn btn" type="submit" name="create_next" value="{% trans 'Create and add another' %}"/>
			    {% endif %}
			</div>
		</form>
	</div>
	<div class="span6">
    {% if object %}
		<a class="btn" href="#">{% trans 'Open' %}</a>
		<a class="btn" href="#">{% trans 'Close' %}</a>
    {% endif %}
	</div>

</div>
{% endblock %}
