{% extends "base.html" %}
{% block content %}

    <h2>Menu</h2>
    <ul>
        <li><a href="{% url company_list %}">Companies</a></li>
        <li><a href="{% url account_list %}">Accounts</a></li>
        <li><a href="{% url ledger_list %}">Ledgers</a></li>
        <li><a href="{% url move_list %}">Moves</a></li>
        <li><a href="{% url currency_list %}">Currencies</a></li>
    </ul>
<pre>
Menu
----
- Accunts
- Reports
- Invoices
- Pending review
- Manual entries
   - Banc Journal
   - Cash journal
   - Manual move
- Settings
</pre>
{% endblock %}