{% extends "base.html" %}
{% block content %}

<h2>Delete ledger</h2>
<form method="POST">
	{% csrf_token %}
    Delete 	{{ object }} ?
    <input type="submit" value="Delete"/>
</form>


{% endblock %}