{% extends "base.html" %}
{% block content %}

    <h2>Ledgers</h2>
    <ul>
        {% for ledger in object_list %}
            <li><a href="{{ ledger.get_absolute_url }}">{{ ledger.code }} {{ ledger.name }}</a></li>
        {% endfor %}
    </ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page=last">last</a>
        {% endif %}
    </span>
</div>

<a href="{% url ledger_create %}">Create ledger</a>

{% endblock %}