{% extends "base.html" %}
{% block content %}

<h2>Ledger</h2>
<form method="POST">
	{% csrf_token %}
    <table>
    	{{ form }}
    </table>
    <input type="submit" value="Create"/>
</form>

{% if object %}
	<a href="{% url ledger_delete pk=object.pk %}">Delete</a>


<h2>Last moves</h2>

{% for move in object.moves.all %}
	{{ move }}
{% endfor %}
{% endif %}

{% endblock %}
