{% extends "base.html" %}
{% block content %}

<h2>Move</h2>
<form method="POST">
	{% csrf_token %}
    <table>
    	{{ form }}
    </table>
    <input type="submit" value="Create"/>
</form>

{% if object %}
	<a href="{% url move_delete pk=object.pk %}">Delete</a>

	<a href="{% url moveline_create pk=object.pk %}">Create line</a>


<div>Balance : {{ object.balance }}</div>
<div>Debit : {{ object.debit }}</div>
<div>Credit : {{ object.credit }}</div>
<h2>Lines</h2>
<table>
	<thead>
	<tr>
		<th>Account</th>
		<th>Name</th>
		<th>Debit</th>
		<th>Credit</th>
	</tr>
	</thead>
	<tbody>
{% for line in object.lines.all %}
	<tr>
		<td>
			<A href="{{ line.get_absolute_url }}">{{ line.account }}</a>
		</td>
		<td>{{ line.name }}</td>
		<td>{{ line.debit }}</td>
		<td>{{ line.credit }}</td>
	</tr>
{% endfor %}
	</tbody>
</table>
{% endif %}

{% endblock %}
