{% extends "base.html" %}
{% block content %}

<h2>Move line</h2>

Move : <a href="{{ move.get_absolute_url }}">{{ move }}</a>

<form method="POST">
	{% csrf_token %}
    <table>
    	{{ form }}
    </table>
    <input type="submit" value="Create"/>
</form>

{% if object %}
	<a href="{% url moveline_delete pk=object.pk %}">Delete</a>
{% endif %}

{% endblock %}
