{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans 'Server Error' %}{% endblock %}

{% block content %}

<h2>{% trans 'Server Error' %}</h2>

<p>{% trans "We're sorry, server error." %}</p>

{% endblock %}
