{% extends 'base_site.html' %}
{% load i18n %}

{% block body %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{% url home %}" title="{% trans 'Go to the start page' %}">
                <img style="height: 20px" src="{{ STATIC_URL }}images/logo.png"  alt="{% trans 'Go to start page' %}" />
                Books
            </a>
            <div class="nav-collapse">
            {% if user.is_authenticated %}
                <ul class="nav">
                      {% url profile_overview as user_profile %}
                    <!--<li><a href="{{ user_profile }}">{{ user.username }}</a></li>-->
                    <li><a href="{ url snapshots }">{% trans 'Snapshots' %}</a></li>
                    <li><a href="{  url archives }">{% trans 'Archives' %}</a></li>
                    <li><a href="{ url sync_logs }">{% trans 'Synchronization logs' %}</a></li>
                </ul>
                <ul class="nav pull-right">
                      {% url profile_overview as user_profile %}
                    <li><a href="{% url logout %}?next={{request.path}}" title="{% trans 'Sign out from the website' %}">{% trans 'Log out' %}</a></li>
                </ul>
            {% else %}
                <ul class="nav">
                    <li><a href="{% url login %}">{% trans 'Login' %}</a></li>
                </ul>
            {% endif %}
            </div>
        </div>
    </div>
</div> <!-- end header -->

<div class="container">
    {% block messages %}
        {% if messages %}
            <div class="messages">
            {% for message in messages %}
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
    {% block content_header %}
        {% block content_title_div %}
        <div class="page-header">
            {% block content_title %}{% endblock %}
        </div>
        {% endblock %}
        {% block breadcrumb %}{% endblock %}
        {% block tabs %}{% endblock %}
    {% endblock %}
    {% block content %}{% endblock %}
    {% block content_main %}{% endblock %}
    <hr>
    <footer>
        <div class="row">
            <div class="span10">
                <p>&copy; Pegueroles 2011-2012</p>
            </div>
            <div class="span2">
                <div class="pull-right">
                <form action="{% url django.views.i18n.set_language %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}" />
                    <select id="language_switch" name="language">
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for lang in languages %}
                        <option value="{{ lang.code }}" {% if lang.code == LANGUAGE_CODE  %}selected="selected"{% endif %}>{{ lang.name_local }} ({{ lang.name }})</option>
                    {% endfor %}
                    </select>
                </form>
                </div>
            </div>
        </div>
    </footer>
</div> <!-- end container -->
{% endblock %}
